In [ ]:
ANUSHA DS
1BG24BA013

Dataset Name: Online Retail Dataset
Dataset Link: https://www.kaggle.com/datasets/carrie1/ecommerce-data

Dataset Description:
This dataset contains transactions from a UK-based online retail store between 2010 and 2011.
Column Explanation: 
Column Name	Description
InvoiceNo	Unique invoice number for each transaction
StockCode	Unique code for each product
Description	Name/description of the product
Quantity	Number of units purchased
InvoiceDate	Date and time of purchase
UnitPrice	Price per unit of product
CustomerID	Unique identifier of customer
Country	Country where customer is located

In [2]:
import pandas as pd

df = pd.read_csv(
    r"C:\Users\anusha\online retail dataset.csv",
    encoding="ISO-8859-1"
)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [6]:
#Import Libraries & Load Dataset
import numpy as np

In [7]:
#Pandas Basic Workflow
#Shape
df.shape

(541909, 8)

In [8]:
#Head
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [10]:
#Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [11]:
#Missing Values & Duplicate Check
#Missing Values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [12]:
#Duplicate Rows
df.duplicated().sum()

np.int64(5268)

In [14]:
#Data Cleaning
#1. Fix Datatype (InvoiceDate)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [16]:
#2. Handle Missing Values – Drop
df.dropna(subset=['CustomerID'], inplace=True)
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [38]:
#3. Handle Missing Values – Fill
df.loc[:, 'Description'] = df['Description'].fillna('Unknown')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,OrderMonth,OrderType
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM,15.30,12,Regular
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM,22.00,12,Regular
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,10.20,12,Bulk
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,12.60,12,Regular
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,14.85,12,Regular

In [40]:
#4. Remove Duplicates
df = df.copy()

df.loc[:, 'Description'] = df['Description'].fillna('Unknown')
df = df.drop_duplicates()
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,OrderMonth,OrderType
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM,15.30,12,Regular
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM,22.00,12,Regular
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,10.20,12,Bulk
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,12.60,12,Regular
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,14.85,12,Regular

In [21]:
#5. Text Cleaning using str.strip() & casing
df['Description'] = df['Description'].str.strip().str.title()
df['Country'] = df['Country'].str.strip().str.upper()
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE

In [22]:
#6. Remove Invalid Values
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM
...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE

In [41]:
#Create 3 New Columns
#1. Total Amount
df = df.copy()

df.loc[:, 'TotalAmount'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,OrderMonth,OrderType
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM,15.30,12,Regular
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM,22.00,12,Regular
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,10.20,12,Bulk
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,12.60,12,Regular
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,14.85,12,Regular

In [43]:
#2. Order Month
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']
df['OrderMonth'] = df['InvoiceDate'].dt.month
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,OrderMonth,OrderType
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM,15.30,12,Regular
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM,22.00,12,Regular
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,10.20,12,Bulk
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,12.60,12,Regular
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,14.85,12,Regular

In [45]:
#3. Conditional Column – Order Size
df = df.copy()
df['OrderType'] = np.where(df['Quantity'] >= 10, 'Bulk', 'Regular')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,OrderMonth,OrderType
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,UNITED KINGDOM,15.30,12,Regular
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,UNITED KINGDOM,22.00,12,Regular
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,UNITED KINGDOM,20.34,12,Regular
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,Pack Of 20 Spaceboy Napkins,12,2011-12-09 12:50:00,0.85,12680.0,FRANCE,10.20,12,Bulk
541905,581587,22899,Children'S Apron Dolly Girl,6,2011-12-09 12:50:00,2.10,12680.0,FRANCE,12.60,12,Regular
541906,581587,23254,Childrens Cutlery Dolly Girl,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541907,581587,23255,Childrens Cutlery Circus Parade,4,2011-12-09 12:50:00,4.15,12680.0,FRANCE,16.60,12,Regular
541908,581587,22138,Baking Set 9 Piece Retrospot,3,2011-12-09 12:50:00,4.95,12680.0,FRANCE,14.85,12,Regular

In [28]:
#Insights Generation (5 Insights)
#Insight 1: Total Sales by Country (groupby + agg) 
df.groupby('Country')['TotalAmount'].sum().sort_values(ascending=False).head()

Country
UNITED KINGDOM    7285024.644
NETHERLANDS        285446.340
EIRE               265262.460
GERMANY            228678.400
FRANCE             208934.310
Name: TotalAmount, dtype: float64

In [27]:
#Insight 2: Top 5 Best-Selling Products (sort_values) 
df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head()

Description
Paper Craft , Little Birdie           80995
Medium Ceramic Top Storage Jar        77916
World War 2 Gliders Asstd Designs     54319
Jumbo Bag Red Retrospot               46078
White Hanging Heart T-Light Holder    36706
Name: Quantity, dtype: int64

In [29]:
#Insight 3: Most Frequent Order Type (value_counts)
df['OrderType'].value_counts()

OrderType
Regular    245557
Bulk       147135
Name: count, dtype: int64

In [30]:
#df['OrderType'].value_counts()
pd.pivot_table(
    df,
    values='TotalAmount',
    index='OrderMonth',
    aggfunc='sum'
)

            TotalAmount
OrderMonth
1            568101.310
2            446084.920
3            594081.760
4            468374.331
5            677355.150
6            660046.050
7            598962.901
8            644051.040
9            950690.202
10          1035642.450
11          1156205.610
12          1087613.170

In [31]:
#Insight 5: High-Value Transactions (Boolean Filtering)
df[df['TotalAmount'] > 1000][['InvoiceNo', 'Country', 'TotalAmount']].head()

     InvoiceNo         Country  TotalAmount
870     536477  UNITED KINGDOM       1627.2
2364    536584  UNITED KINGDOM       1132.8
4505    536785  UNITED KINGDOM       1576.8
4850    536809  UNITED KINGDOM       1003.2
4946    536830  UNITED KINGDOM       1484.0

In [ ]:
#Conclusion

#Dataset was cleaned using multiple Pandas techniques

#Created derived and conditional columns

#Generated business-focused insights

#Followed no ML, no visualization, only Pandas operations