In [1]:
import pandas as pd
import numpy as np

In [2]:
# Student Dictionary (Dictionary of Lists)
students = {
    "Student_ID": [101, 102, 103],
    "Student_Name": ["Anusha", "Rahul", "Sneha"],
    "Course": ["MBA", "MBA", "MBA"],
    "Semester": [2, 2, 2],
    "Marks": [85, 78, 90]
}

In [3]:
# Convert dictionary to DataFrame
df = pd.DataFrame(students)
df

   Student_ID Student_Name Course  Semester  Marks
0         101       Anusha    MBA         2     85
1         102        Rahul    MBA         2     78
2         103        Sneha    MBA         2     90

In [4]:
def view_students():
    print("\nStudent Details:")
    for i in range(len(students["Student_ID"])):
        print(
            students["Student_ID"][i],
            students["Student_Name"][i],
            students["Course"][i],
            students["Semester"][i],
            students["Marks"][i]
        )

In [5]:
def add_student():
    try:
        students["Student_ID"].append(int(input("Enter Student ID: ")))
        students["Student_Name"].append(input("Enter Student Name: ").strip().title())
        students["Course"].append(input("Enter Course: ").strip().title())
        students["Semester"].append(int(input("Enter Semester: ")))
        students["Marks"].append(int(input("Enter Marks: ")))
        print("Student added successfully!")
    except ValueError:
        print("Invalid input! Please enter numbers only.")

In [6]:
def search_student():
    try:
        search_id = int(input("Enter Student ID to search: "))
        if search_id in students["Student_ID"]:
            index = students["Student_ID"].index(search_id)
            print("Student Found:")
            print(
                students["Student_ID"][index],
                students["Student_Name"][index],
                students["Course"][index],
                students["Semester"][index],
                students["Marks"][index]
            )
        else:
            print("Student not found!")
    except ValueError:
        print("Invalid ID!")

In [7]:
def delete_student():
    try:
        del_id = int(input("Enter Student ID to delete: "))
        if del_id in students["Student_ID"]:
            index = students["Student_ID"].index(del_id)
            for key in students.keys():   # dictionary method
                students[key].pop(index) # list method
            print("Student deleted successfully!")
        else:
            print("Student not found!")
    except ValueError:
        print("Invalid input!")

In [8]:
def save_to_file():
    with open("students.txt", "w") as file:
        for i in range(len(students["Student_ID"])):
            file.write(
                f"{students['Student_ID'][i]}, "
                f"{students['Student_Name'][i]}, "
                f"{students['Course'][i]}, "
                f"{students['Semester'][i]}, "
                f"{students['Marks'][i]}\n"
            )
    print("Data saved to file.")

In [9]:
while True:
    print("\n----- Student Record Management Menu -----")
    print("1. View Students")
    print("2. Add Student")
    print("3. Search Student")
    print("4. Delete Student")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice == "1":
        view_students()

    elif choice == "2":
        add_student()

    elif choice == "3":
        search_student()

    elif choice == "4":
        delete_student()

    elif choice == "5":
        save_to_file()
        print("Exiting Student Record Management System...")
        break

    else:
        print("Invalid choice! Please try again.")

----- Student Record Management Menu -----
1. View Students
2. Add Student
3. Search Student
4. Delete Student
5. Exit

Enter your choice:  2
Enter Student ID:  104
Enter Student Name:  Kiran
Enter Course:  MBA
Enter Semester:  2
Enter Marks:  88

Student added successfully!

----- Student Record Management Menu -----
1. View Students
2. Add Student
3. Search Student
4. Delete Student
5. Exit

Enter your choice:  3
Enter Student ID to search:  103

Student Found:
103 Sneha MBA 2 90

----- Student Record Management Menu -----
1. View Students
2. Add Student
3. Search Student
4. Delete Student
5. Exit

Enter your choice:  4
Enter Student ID to delete:  102

Student deleted successfully!

----- Student Record Management Menu -----
1. View Students
2. Add Student
3. Search Student
4. Delete Student
5. Exit

Enter your choice:  5

Data saved to file.
Exiting Student Record Management System...

In [10]:
print("\nprogram ended")

program ended